<div class="slide-in-right">
    <div>
        <div>
            <h2 class="display-4 fw-normal" style="font-size: 50px; color: var(--colorBase)">Contratá: Paso 2/3</h2>
          </div>
          <div class="d-flex justify-content-start mt-3">
            <ul class="text-start">
              <li class="dato"> <span class="titulo">Localidad del riesgo: </span> {{this.serviceApi.datosAuto.localidad}}</li>
              <li class="dato"> <span class="titulo">Email:  </span> {{this.serviceApi.datosAuto.email}}</li>
              <li class="dato"> <span class="titulo">Vehículo:  </span> {{this.serviceApi.datosAuto.marca}} {{this.serviceApi.datosAuto.modelo}} {{this.serviceApi.datosAuto.anio}}</li>
              <li class="dato"> <span class="titulo">Aseguradora:  </span> {{this.serviceApi.datosAuto.aseguradora}}</li>
              <li class="dato"> <span class="titulo">Plan:  </span> {{this.serviceApi.datosAuto.plan}}</li>
              <li class="dato"> <span class="titulo">Suma asegurada:  </span> 999.999</li>
            </ul>
        </div>
    </div>
    <div class="card p-4 justify-content-center">
      <form [formGroup]="form" (ngSubmit)="this.formCompleto(4)">
        <div class="row d-flex">
            <div class="row">
                <div class="col">
                    <h2 style="font-size: 40px; color: var(--colorBase)">Datos de contacto</h2>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-12 col-md-7 col-lg-5">
                    <label for="localidadResidencia">Localidad de residencia</label>
                    <input type="text" class="form-control" formControlName="localidadResidencia" placeholder="" value="" required>
                        <div *ngIf="f['localidadResidencia'].touched && f['localidadResidencia'].invalid">
                            <small *ngIf="f['localidadResidencia'].errors && f['localidadResidencia'].errors['required']" class="text-danger">La localidad es requerida</small>
                        </div>
                    </div>
    
                    <div class="col-12 col-sm-5 col-md-3 col-lg-3">
                        <label for="codigoPostal">Código postal</label>
                        <input type="number" class="form-control" formControlName="codigoPostal" placeholder="" value="" required>
                            <div *ngIf="f['codigoPostal'].touched && f['codigoPostal'].invalid">
                                <small *ngIf="f['codigoPostal'].errors && f['codigoPostal'].errors['required']" class="text-danger">El código postal es requerido</small>
                            </div>
                        </div>
    
                    <div class="col-12 col-sm-7 col-md-5 col-lg-4">
                        <label for="telefono">Teléfono celular</label>
                        <div class="row d-flex">
                            <div class="col-4 col-sm-4 col-md-4 d-flex gap-3" style="align-items: center;">
                                <span style="font-size: large;">(0)</span>
                                <input type="number" class="form-control" formControlName="numCaracteristica" placeholder="Característica" required>
                                <div *ngIf="f['numCaracteristica'].touched && f['numCaracteristica'].invalid">
                                    <small *ngIf="f['numCaracteristica'].errors && f['numCaracteristica'].errors['required']" class="text-danger">La característica es requerida</small>
                                </div>
                            </div>
                            
                            <div class="col-8 col-md-8 col-md-8 d-flex gap-3" style="align-items: center;">
                                <span style="font-size: large;">(15)</span>
                                <input type="number" class="form-control" formControlName="numTelefono" placeholder="Teléfono" required>
                                <div *ngIf="f['numTelefono'].touched && f['numTelefono'].invalid">
                                    <small *ngIf="f['numTelefono'].errors && f['numTelefono'].errors['required']" class="text-danger">El número de teléfono es requerido</small>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-12 col-md-8 mt-2">
                        <label for="calle">Domicilio</label>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 mt-2">
                                <input type="text" class="form-control" formControlName="calle" placeholder="Calle" required>
                                <div *ngIf="f['calle'].touched && f['calle'].invalid">
                                    <small *ngIf="f['calle'].errors && f['calle'].errors['required']" class="text-danger">La calle es requerida</small>
                                </div>
                            </div>
                            <div class="col-12 col-sm-2 col-md-2 mt-2">
                                <input type="number" class="form-control" formControlName="numCalle" placeholder="Número" required>
                                <div *ngIf="f['numCalle'].touched && f['numCalle'].invalid">
                                    <small *ngIf="f['numCalle'].errors && f['numCalle'].errors['required']" class="text-danger">El número de calle es requerido</small>
                                </div>
                            </div>
                            <div class="col-6 col-sm-2 col-md-2 mt-2">
                                <input type="number" class="form-control" placeholder="Piso">
                            </div>
                            <div class="col-6 col-sm-2 col-md-2 mt-2">
                                <input type="number" class="form-control" placeholder="Depto">
                            </div>
                        </div>
                    </div>
    
                </div>
    
            <div class="row justify-content-end mt-5">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-lg btn-outline-primary" style="height: 100%; width: 100%" [disabled]="form.invalid">
                    Siguiente 
                    </button>
                </div>
            </div>
        </div>
    
      </form>
    </div>
    
</div>



